h1{
text-align: center;
font-family: Arial;
}

div{
	border :1px black solid;
	box-sizing: border-box;
	font-family: Arial;
}

.outer1, .outer2, .outer3{
	height: auto;
	margin: 1%;
	background-color: bisque;
}

p{
	padding: 15px;
}

@media(min-width: 992px){
.outer1, .outer2, .outer3{
width: 30%;
float:left;
}
}

@media(min-width: 768px) and (max-width: 991px){
	.outer1, .outer2{
	width: 45%;
	float:left;
	}

	.outer3{
	width: 92%;
	float:left;
	}
}

@media(max-width: 767px){
	.outer1, .outer2, .outer3{
		float: none;
		margin: 2%;
	}
}


.inner{
	width: 100px;
	height: 30px;
	position: relative;
	float:right;
	text-align: center;
	padding-top: 5px;
}

.outer1 .inner{
	background-color: red;
}

.outer2 .inner{
	background-color: pink;
}

.outer3 .inner{
	background-color: cyan;
}
